* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(66,3,44,1) 0%, rgba(211,107,0,1) 32%, rgba(44,54,57,1) 52%, rgba(130,115,151,1) 100%);
    height:100vh;
    width: 100vw;
}

.jogo {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto );
}

.celula-jogo{
    width: 100px;
    height: 100px;
    border: 1.7px solid #A66CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.celula-jogo:nth-child(1),
.celula-jogo:nth-child(2),
.celula-jogo:nth-child(3){
    border-top: none;
}
.celula-jogo:nth-child(1),
.celula-jogo:nth-child(4),
.celula-jogo:nth-child(7) {
    border-left: none;
}

.celula-jogo:nth-child(7),
.celula-jogo:nth-child(8),
.celula-jogo:nth-child(9) {
    border-bottom: none;
}

.celula-jogo:nth-child(3),
.celula-jogo:nth-child(6),
.celula-jogo:nth-child(9) {
    border-right: none;
}


/* fazendo o X */
.celula-jogo.x::before,
.celula-jogo.x::after,
.jogo.x .celula-jogo:not(.x):not(.circulo):hover::after,
.jogo.x .celula-jogo:not(.x):not(.circulo):hover::before {
    content:"";
    height: calc(100px *0.10);
    width: calc(100px * 0.7);
    background: #A66CFF;
    position: absolute;
    border-radius: 50%;
}

.jogo.x .celula-jogo:not(.x):not(.circulo):hover::after,
.jogo.x .celula-jogo:not(.x):not(.circulo):hover::before,
.jogo.circulo .celula-jogo:not(.x):not(.circulo):hover::after,
.jogo.circulo .celula-jogo:not(.x):not(.circulo):hover::before{
    opacity: 0.4;
}

.celula-jogo.x::before,
.jogo.x .celula-jogo:hover::before{
    transform: rotate(45deg);
}

.celula-jogo.x::after,
.jogo.x .celula-jogo:hover::after{
    transform: rotate(-45deg);
}

/* fazendo o circulo */
.celula-jogo.circulo::before,
.celula-jogo.circulo::after,
.jogo.circulo .celula-jogo:not(.x):not(.circulo):hover::after,
.jogo.circulo .celula-jogo:not(.x):not(.circulo):hover::before  {
    content:"";
    height: calc(100px *0.7);
    width: calc(100px * 0.7);
    background: #A66CFF;
    border-radius: 50%;
    position: absolute;
}

.celula-jogo.x,.celula-jogo.circulo {
    cursor: no-drop;
}
.mensagem-final{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center ;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    /* opacity: 0.7; */
}

.reset {
    font-size: 2rem;
    padding: 1rem;
    background-color: #D07000;
    border-radius: 25px;
    font-weight: 700;
    border: 2.5px solid #F1A661;
    cursor: pointer;
    margin-top: 1rem;
    color: #4C0033;
}

.reset:hover {
    background-color: #FFB200;
    color: #4C3A51;
}

.msg-vitoria{
    color: #D07000;
    font-size: 3.75rem;
    font-weight: 700;
}